<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimerCounterLister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimerCounterLister.Properties.Settings>
            <setting name="ProfileSavingMethod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProfileUseCompressInSaving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerIntervalInMilliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimerCounterEvents_Column0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimerCounterEvents_Column1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterEvents_Column2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterEvents_Column3" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterEvents_Column4" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterEvents_Column5" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterEvents_Column6" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterAlarm_Column0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimerCounterAlarm_Column1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterAlarm_Column2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterAlarm_Column3" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterAlarm_Column4" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounterAlarm_Column5" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimerCounters_Column1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column3" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column4" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column5" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column6" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TimerCounters_Column7" serializeAs="String">
                <value>120</value>
            </setting>
        </TimerCounterLister.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
